<!DOCTYPE html>
<html>
  <head>
    <title>Новый проект</title>
  </head>
  <body>
    <center> <h1> ДОБАВЬ НОВУЮ ИДЕЮ!!!</h1> 
    <table border = "1">
		<tr> <td> Название </td> <td> <textarea name="IdeaName"></textarea> </td></tr>
		<tr> <td> Описание  </td> <td> <textarea name = "Subscribe"></textarea> </td></tr>
		<tr> <td> Автор </td> <td> 
							<form  method="post" name="drop_down_box">
								<select name="menu" size="1">
									<option value="first">Первая позиция</option>
									<option selected="selected" value="second">Вторая позиция</option>
									<option value="third">Третья позиция</option>
									<option value="fourth">Четвертая позиция</option>
								</select>
						</td></tr>
			</table>
	<input type="submit" value="Отправить">
	</center>
	</body>
</html>