<!DOCTYPE html>
<html>
  <head>
    <title>Новая идея</title>
  </head>
  <body>
    <center> <h1> Добавь новую идею!!!</h1> 
    <table border = "1">
		<tr> <td> Название идеи </td> <td> <textarea name="IdeaName"></textarea> </td></tr>
		<tr> <td> Описание  </td> <td> <textarea name = "Subscribe"></textarea> </td></tr>
		<tr> <td> Автор </td> <td> 
							<form  method="post" name="drop_down_box">
								<select name="menu" size="1">
									<option value="first">ФИО1</option>
									<option selected="selected" value="second">ФИО2</option>
									<option value="third">ФИО3</option>
									<option value="fourth">ФИО4</option>
								</select>
						</td></tr>
			</table>
	<input type="submit" value="Подтвердить">
	</center>
	</body>
</html>