{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/main.css" %}">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AU DevDays</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">О проекте</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <!-- <li ><a href="#contact">Archive</a> </li>-->
            </ul>
            <form class="navbar-form navbar-right">
                {% if not loggedUser.is_authenticated %}
                    <a class="btn btn-success" href='/openid/login'>Вход</a>
                {% else %}
                    <a href="/user/{{ loggedUser.id }}">{{ loggedUser.first_name }} {{ loggedUser.last_name }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-success" href="/logout">Выход</a>
                {% endif %}

            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>

            <div class="jumbotron"
                 {% if event and event.state == 'ongoing' %}style="background-color: #5cb85c;"{% endif %}>
                <h1  style="text-align: center">{% block header %}Devdays{% endblock %}</h1>

                <p>{% block description %}{% endblock %}</p>
            </div>

            {% block contents %}{% endblock %}
        </div>
        <!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas devdayslist" id="sidebar" role="navigation">
            <div class="list-group">
                <h4>Мероприятия DevDays</h4>
                {% for e in events %}
                    <a href="/event/{{ e.get_link }}"
                       class="list-group-item {% if event and e.id == event.id %}active{% endif %}"
                            >{{ e.name }}</a>
                {% endfor %}
            </div>
        </div>
        <!--/span-->

    </div>
    <!--/row-->

    <hr>

    <footer>
        <p><a href="http://mit.spbau.ru/">Кафедра математических и информационных технологий СПбАУ РАН</a></p>
    </footer>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
    $(function () {
        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
        
{#        #}
{#        if($("#headerh1 div").length > 0){#}
{#            $("#headerh1").parent().html($("#headerh1").html()).css('position','relative').css('height','220px')#}
{#        }#}
    });
</script>
</body>
</html>