{% extends 'event.html' %}

{% block event_contents %}
    <div style="margin-left: 4px;"><h4>Проекты</h4></div>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th> Идея </th>
            <th style="padding-right: 40px;"> Гитхаб </th>
            <th style="padding-right: 40px;"> </th>
            <th> Участники </th>
        </tr>
        </thead>

    {% for proj in event.project_set.all %}
        <tr>
{#            <td align="center" nowrap>#}
{#                {% for i in proj.students_set.all %}#}
{#                    <img height="50px" src="/static/picture_users/m/{{ forloop.counter }}.png">#}
{#                {% endfor %}#}
{#            </td>#}

            <td style="padding-right: 40px;
                       padding-bottom: 20px;">
                <a href='/idea/{{ proj.idea.id }}'>{{ proj.idea.name }}</a>
            </td>

{#            <td style="padding-right: 40px;">{{ proj.idea.description|truncatewords:"10" }} </td>#}
{#            <td style="padding-right: 40px;">#}
{#                {% for student in proj.objects.students %}#}
{#                    <img src="/static/picture_users/m/0{{ forloop.counter }}.png">#}
{#                {% endfor %}#}
{#            </td>#}
            <td style="padding-right: 40px;
                       padding-bottom: 20px;">
                {% if proj.link %}<a href="{{ proj.link }}">{{ proj.link }}</a>
{#                    <br>{{ proj.get_github_opened }}#}
                {% endif %}
            </td>

            <td></td>

            <td style="padding-right: 40px;
                       padding-bottom: 20px;">
                {% for st in proj.students.all %}
{#                    <img height="50px" src="/static/picture_users/m/{{ 4 }}.png">#}
                        <a style="color: darkgray;" href="/user/{{ st.id }}">{{ st.first_name }}&nbsp;{{ st.last_name }}</a>&nbsp;&nbsp;
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}