-{% extends 'event.html' %}

{% block buttons %}
    {% if user.is_staff or user.is_supersuser %}
        <a type="button"
           class="btn btn-success btn-lg"
           id="start_btn"
           style="margin-left: 20px; text-decoration: none;"
           href="/start_event/{{ event.get_link }}">
           Начать
        </a >
    {% endif %}
{% endblock %}

{% block event_contents %}
    <div class="row" id="ideas_row"><p>
        <div style="margin-left: 15px;"><h4>Проекты</h4></div>
        {% for prj in projects %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <b><a style="font-size: 1.3em;" href="project/{{ prj.id }}">{{ prj.idea.name }}</a></b>
{##}
{#                    {% if prj.idea.author %}#}
{#                        &nbsp;&nbsp;&nbsp;#}
{#                        <a style="color: darkgray;"#}
{#                           href="/user/{{ prj.idea.autor.username }}">{{ prj.idea.autor.first_name }}#}
{#                        {{ prj.idea.autor.last_name }}</a>#}
{#                    {% endif %}#}

                    <p>{{ prj.idea.description }}</p>

{#                    {% for st in prj.students.all %}#}
{#                        &nbsp;&nbsp;&nbsp;#}
{#                        <a style="color: darkgray;" href="/user/{{ st.username }}">{{ st.first_name }}#}
{#                        {{ st.last_name }}</a>#}
{#                    {% endfor %}#}

                    <span style="float: right;">
                        <small>Участники: <span id="participants_{{ prj.id }}_span">
                            {% for st in prj.students.all %}{{ st.first_name }} {{ st.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </span></small>&nbsp;
                        <button type="button" class="btn btn-default btn-xs" id='participate_button'
                                onclick='participate_click({{ prj.id }})'>Участвовать</button>
                    </span>
                    <span style="clear: both;"></span>
                <br>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
    if(typeof(String.prototype.trim) === "undefined") {
        String.prototype.trim = function() {
            return String(this).replace(/^\s+|\s+$/g, '');
        };
    }

    function participate_click(prj_id) {
        $.ajax({
            url: '/participate/' + {{ event.id }} + '_' + prj_id,
            dataType: 'text',
            data: '',
            success: function (data) {
                var ps_span = $('#participants_' + prj_id + '_span');
                var ps = ps_span.text().trim();
                ps_span.html(ps + ', {{ user.first_name }} {{ user.last_name }}');

                if (parseInt(data) != -1) {
                    var old_project_partic_span = $('#participants_' + data + '_span');
                    var ps = old_project_partic_span.text().trim();
                    ps = ps.replace(', {{ user.first_name }} {{ user.last_name }}', '');
                    ps = ps.replace('{{ user.first_name }} {{ user.last_name }},', '');
                    ps = ps.replace('{{ user.first_name }} {{ user.last_name }}', '');
                    old_project_partic_span.html(ps);
                }
            },
        });
    }
    </script>
{% endblock %}