{% extends 'base.html' %}

{% block title %}Ideas{% endblock %}

{% block contents %}
     <div class="row"> 
    {% for idea in ideas  %}
        <a href="/idea/{{ idea.id }}">
        <div class="col-md-4 idea_block">
            <h4>{{ idea.name }}</h4>
            <p>{{ idea.autor }}</p>
            <p class="idea_description">{{ idea.description|truncatewords:"20" }}</p>
            <p><a class="btn btn-default" href="{{ idea.link }}" role="button">View details &raquo;</a></p>
        </div>
        </a>
    {% endfor %}
    </div>
    
{% endblock %}