<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Demo Modal Windows via Bootstrap</title>
  <meta name="author" content="Jake Rocheleau">

  <link rel="stylesheet" type="text/css"  href="../static/bootstrap/css/bootstrap2.css">

  <link rel="stylesheet" type="text/css"  href="../static/bootstrap/css/default.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" charset="utf-8" src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="../static/bootstrap/js/modals.js"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div id="w" class="container center">

    <center>
      <a href="#modalwin" data-toggle="modal" class="btn btn-large">Display Window</a>
    </center>

    <!-- first modal window -->
    <div id="modalwin" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">x</a>
        <h3>Добавь новую идею <small> :]</small></h3>
      </header>
      <table class = "table">
          <tr> <td width = "20px"> Название </td>  <td> <textarea> </textarea> </td></tr>
           <tr> <td width = "20px"> Описание </td>  <td> <textarea> </textarea> </td></tr>
           <tr> <td width = "20px"> Технологии </td>  <td> <textarea> </textarea> </td></tr>
           <tr> <td width = "20px"> Автор </td>  <td> <textarea> </textarea> </td></tr>
      </table>


      <footer class="modal-footer">
        <button type="submit" class="btn btn-success"  > Sounds Good!</button>
      </footer>
       </div>
    </div> <!-- @end @modalwin -->
  </div>
</body>
</html>