{% extends "base.html" %}


{% block title %}{{ idea.name }}{% endblock %}

{% block header %}{{ idea.name }}{% endblock %}

{% block contents %}
    <p>{{ idea.description }}</p>
    <p>Автор <a href="/user/{{ idea.author.username }}">{{ idea.author.first_name }} {{ idea.author.last_name }}</a>.</p>
    <p>Лайки: {{ idea.likes.all.count }}</p>
    
    {% if loggedUser == idea.author %}
        <a href="/idea/{{ idea.id }}/edit/" class="btn btn-success">Редактировать</a>
    {% endif %}

{% endblock %}