{% extends 'base.html' %}

{% block title %}Devdays {{ event.date }}{% endblock %}

{% block contents %}
    <h4> Проекты {{ event.date }}</h4>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th> </th>
            <th align="center"> Тема </th>
            <th> Описание </th>
        </tr>
        </thead>

    {% for proj in event.project_set.all %}
        <tr>
            <td align="center" nowrap>
                {% for i in proj.students_set.all %}
                    <img height="50px" src="/static/picture_users/m/{{ 4 }}.png">
                {% endfor %}
            </td>
            <td align="center">{{ proj.idea.name }}</td>
            <td>{{ proj.idea.description|truncatewords:"10" }} </td>
        </tr>
    {% endfor %}
    </table>
        
{% endblock %}